html , body {
  height: 100%;
  width: 100%;
  background-color: aqua;
}

body {
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

#main {
  display: flex;
  height: 100%;
  width: 100%;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.trybewarts-header-logo {
  height: 70px;
}

.trybewarts-login {
  background-color: cadetblue;
  height: 70px;
  width: 490px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


header form input {
  height: 35px;
  width: 150px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 8px;
}

header form input:focus {
  outline: none;
}

header form button {
  height: 35px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid gray;
}

.trybewarts-header-title {
  align-self: center;
}

#trybewartsLogoArea {
  height: 100%;
  width: 605px;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

.nameArea {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.emailAndHouse {
  display: flex;
  flex-direction: row;
}

.textarea {
  display: flexbox;

}

.familyArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color: rosybrown;
  justify-content: space-around;
  align-items: center;

}

.contentArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.familyAndContentArea {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.checkBoxes {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

<<<<<<< HEAD
#submit-btn {
  height: 25px;
  width: 115px;
}

=======

.satisfactionArea {
  display: flex;
  flex-direction: row;
  height: 30px;
  background-color: royalblue;
  justify-content: center;
  align-items: center;

}

.ratingArea {
  display: flex;
  flex-direction: row;
}
>>>>>>> d6e332df49946f11e35a4ffa79aa54820e462920
.footer {
  display: flex;
  justify-content: center;
}
